


header {
    color: #3E3F3F;
    
    /* Padding 1 -TopAndBottom - Padding 2 - LeftAndRight */
    padding: 1px 30px;
    background-color:#FFFFFF;
    width:100%;
    margin:0;
    border-bottom: 1px solid #E0E0E0
  
  }
  
  
  
  span.highlight
  {
    background-color: yellow;
  }
  
  .counters
  {font-weight:bold;
  }
  
  .blue.counters
  {
   color: blue; 
  }
  
  
  #one {
  Background-color: pink;
  Color:blue;
  Text-decoration: underline;
  }
  
  #two
  {
    Background-color:green;
    Color:white;
  }
  
  footer
  {background-color: #3E3F3F;
  color: white;
  border-radius: 10px;
    padding: 20px;
  }
  
  [name="user-input"] {
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius:10px;
    display: flex;
    margin: 0 auto;
    width: 1000px;
      height: 250px;
  
  }
  
  
  #reset-button {
    background-color: #3E3F3F;
    /*Esto centra el botón*/
    margin: 0 auto;
    display: flex;
    /*Hasta acá*/
    color: white;
    border-radius: 10px ;
    width: 100px;
    height: 30px;
    align-items: center; /* Centra content verticalmente */
    justify-content: center; /* Centra content horizontalmente */
    font-weight:bold;
    transition: background-color 0.5s linear;
    
  }
  
  #reset-button:hover {
    background-color: #6C7171
  }
  
  ul {
      list-style-type:none;
    text-align: center;
    display: flex;
    padding: 20px;
      background-color: #FFFFFF;
    justify-content: space-around;
    width: 1000px;
      margin: 0 auto;
    border-radius: 10px;
    border-bottom: 1px solid #E0E0E0
    
     
    
    }
  
  li {
      display: inline-block;
      margin-right: 20px; 
  }
  
  .label
  {
    color:#3E3F3F;
    font-weight:bold;
  }
  
  .number
  {
   color:blue 
  }
  .word-count, .char-count, .char-count-excluding-spaces, .num-count, .num-sum, .av-lenght  {
    border: 1px solid gray; /* Borde rojo temporal para depuración */
    padding: 5px; /* Añadir padding para asegurarnos de que haya espacio */
}

/* Asegurar visibilidad y tamaño */
.word-count, .char-count, .char-count-excluding-spaces, .num-count, .num-sum, .av-lenght {
    display: inline-block; /* Asegurar que se muestren en línea */
    min-width: 20px; /* Asegurar un ancho mínimo */
    text-align: center;
  }

  body
  {
    background-color: #F5F5F5;
  }