
body
{
  background-color: #038F9B;
  margin:0;
}




header {
    color: #3E3F3F;
    padding: 1px 30px;
    background-color:#FFFFFF;
    width:100%;
    margin:0;
    border-bottom: 1px solid #E0E0E0
  
  }

  
  
  
  footer
  {background-color: #3E3F3F;
  color: white;
  border-radius: 10px;
  padding: 20px;
  }
  
  textarea[name="user-input"] {
    background-color: white;
    border: 1px solid #E0E0E0;
    border-radius:10px;
    display: flex;
    margin: 0 auto;
    width: 1000px;
    height: 250px;
  
  }
  
  
  #reset-button {
    background-color: #3E3F3F;
    /*Esto centra el botón*/
    margin: 0 auto;
    display: flex;
    /*Hasta acá*/
    color: white;
    border-radius: 10px ;
    width: 150px;
    height: 40px;
    align-items: center; /* Centra content verticalmente */
    justify-content: center; /* Centra content horizontalmente */
    font-weight:bold;
    transition: background-color 0.5s linear;
    
  }
  
  #reset-button:hover {
    background-color: #6C7171
  }
  
  ul {
    list-style-type:none;
    text-align: center;
    display: flex;
    padding: 20px;
    background-color: #FFFFFF;
    justify-content: space-around;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    border-bottom: 1px solid #E0E0E0
    
     
    
    }
  
  .label {
      display: inline-block;
      margin-right: 20px; 
      padding: 10px;
      border-width: thin;
      border-style: solid;
      border-color: #038F9B;
       color:#3E3F3F;
    font-weight:bold;
    border-radius: 20px;
  
   
  }
  
 
  
  .word-count, .char-count, .char-count-excluding-spaces, .num-count, .num-sum, .av-length  {
    padding: 5px;
    display: inline-block; 
    min-width: 20px; 
    text-align: center;
    color: #038F9B;
    font-size: 30px;
}


